@page
@model StateInfoModel
@{  
  var Populations = Newtonsoft.Json.JsonConvert.SerializeObject(Model.StateList);

  ViewData["Title"] = "Census Data Graphed";    //Changed Title
}  

<h2>Census Data Graphed</h2>
<br />
Your search string: "@Model.Input"
<br />
# of states found: @Model.StateList.Count
<br />  

@{
   if (@Model.EX != null)
	 {
	   <br />
		 <br />
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<div class="box-body">  
  <div class="chart-container">  
     <canvas id="myChart"></canvas>  
  </div>  
</div>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [
        {
            label: "Population",  //Changed this  
            data: @Html.Raw(Populations), //Changed this to Populations
            borderColor: "red ",
            pointBackgroundColor: "black",

            borderWidth: 1
        }        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        plugins: {
          datalabels: {
    
          }
        }
    }
});

</script>
